#input{
    display: flex;
    justify-content: center;
    margin-top: 445px;
    flex-direction: row;
    gap:25px;
}
input{
    width: 15%;
    height:25px;
}
input:hover{
    border: 1px solid black;
}