body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27%;
    background-color: white;
    /* transition animation*/
    transition: background-color 0.3s;
}
input{
    visibility: hidden; 
}
.label{
    background-color: lightgray;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    /*box-shadow: 3px 7px gray;*/
    transition: background-color 0.3s;
    position: relative;  /*The element stays within the document*/
}
.circle{
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: all 0.3s;
    position: absolute; /*The element is placed to the nearest relative document and can be moved freely*/
}

/* Move circle when checked */
input:checked + .label .circle{
    left: 43px;
}

/* Dark mode background */
body.dark {
    background-color: #121212;
}

body.dark .label {
    background-color: #333;
}

body.dark .circle {
    background-color: #f1f1f1;
}