.photos img{
    width: 300px;
    height: 300px;
    border:5px solid #aaa;
}
.photos img:hover{
    cursor: pointer;
    border: 5px solid #080;
}
.main img{
    width: 1650px;
    height: 1050px;
    border:5px solid #aaa;
}
