* {
    box-sizing: border-box;
    margin: 0;
}
.Calculator {
    border: solid 2px rgb(34, 161, 34);
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
    background-color:silver;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.result {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color:lightskyblue;
}

.buttons {
    display: grid;
    margin-top: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
button {
    border: none;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: #ddd;
    color: black;
}
.number, .decimal {
    background-color: black;
    color: white;
}
.operator {
    background-color:orange;
    color:black;
}
.equal {
    background-color: darkslateblue;
    color: black;
}
.clear {
    background-color: brown;
    display: block;
}


