body{
    background-color:gainsboro;
    font-family:Arial, Helvetica, sans-serif;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 290px;
    margin-left:525px;
    margin-right:525px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
h1{
    margin-top: 0;
}
input{
    margin: 10px;
    padding: 10px; 
    width: 800px;
}
#calculate{
    background-color: #4caf50;
    color:white;
    width: 825px;
    padding: 10px;
    border: none;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
#total{
    font-weight: bold;
    font-size: 25px;
}