body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}
#header{
    display: flex;
    justify-content: right;
    align-items: center;
    gap:15px;
    padding: 10px 20px;
}
input.dark-mode{
    visibility: hidden;
}
.label{
    width: 69px;
    height: 25px;
    background-color: grey;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}
.circle{
    background-color: white;
    width: 25px;
    height: 25px;
    left: 3px;
    position: absolute;
    transition: all 0.3s;
    border-radius: 50%;
}
input:checked + .label .circle{
    left: 43px;
}
body.dark {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark .label {
    background-color: #333;
}

body.dark .circle {
    background-color: #f1f1f1;
}

#profile{
    background-color: mediumaquamarine;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color:grey;
}
a:hover{
    text-decoration: underline;
    color:grey;
}
#google{
    text-align: center;
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    margin-top: 200px;
}
#g{
    color: #4285f4;
}
#o{
    color:orangered;
}
#o1{
    color:gold;
}
#l{
    color:green;
}
#e{
    color:orangered;
}
#center{
    text-align: center;
    margin-top: 20px;
}
#search{
    width: 500px;
    border-radius: 25px;
    padding: 10px;
    border:1px solid #ccc;
}
#search input{
    padding: 20px;
}
#search:hover{
    border: 1px solid black;
}
#buttons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15px;
}
button{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    background-color: #f8f9fa;
}
button:hover{
    border: 1px solid #dadce0;
}
#translate a{
    color:royalblue;
}
#translate a:hover{
    color:royalblue;
    text-decoration: underline;
}
#footer{
    margin: auto;
    width: auto;
    height: 20px;
    padding-bottom:30px ;
}
#footer1{
    background-color:#dadce0;
    padding: 10px;
    margin-top: 469px;
}
#footer2{
    background-color:#dadce0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#left{
    display: flex;
    gap:25px;
}
#right{
    display: flex;
    gap:25px;
}
#left a{
    color: black;
}
#right a{
    color: black;
}
#left a:hover{
    text-decoration: underline;
}
#right a:hover{
    text-decoration: underline;
}
